{
    "nexmo": {
        "KEY": "-------------------------",
        "SECERT": "----------------------",
        "my_phone_number": "-------------"
    },
    "fetion":{
        "user":"--------------------------",
        "password":"----------------------"
    }
}
